resources-ext/nifi/TFRecord-NiFi.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>1374cabc-016b-1000-441b-f2b65274cced</groupId>
    <name>TFRecord-NiFi</name>
    <snippet>
        <processGroups>
            <id>76b89f6c-3149-35d1-0000-000000000000</id>
            <parentGroupId>c7cfe770-e91c-31dc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0e08667e-a303-3b43-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>204125dd-ae6f-37be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>a277c738-1b42-3455-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>134c6b4d-127d-372c-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>91.06666564941406</y>
                    </bends>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>141.06666564941406</y>
                    </bends>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>2ea2341d-de7f-34f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>2ea2341d-de7f-34f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>178daf8a-c003-3431-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>2ea2341d-de7f-34f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>7045115e-41c0-3b71-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4333b82f-0cdf-3e2a-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>1031.566650390625</y>
                    </bends>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>1081.566650390625</y>
                    </bends>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>684d470e-5a10-3394-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>684d470e-5a10-3394-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6634da56-0e3d-3965-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>684d470e-5a10-3394-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>59a4b652-3fac-3fcf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6c2cf823-8028-3644-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>4457eb63-470e-3812-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>965cf6d8-42cf-3a05-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6cd6b432-620b-33f9-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>549.9000244140625</x>
                        <y>1461.566650390625</y>
                    </bends>
                    <bends>
                        <x>549.9000244140625</x>
                        <y>1511.566650390625</y>
                    </bends>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>7548cbd1-4858-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>7548cbd1-4858-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7673be63-aa32-31a4-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>59a4b652-3fac-3fcf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>204125dd-ae6f-37be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>814082d5-ba4b-38b7-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>801.566650390625</y>
                    </bends>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>851.566650390625</y>
                    </bends>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>59a4b652-3fac-3fcf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>59a4b652-3fac-3fcf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8785757f-7946-3805-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>549.566650390625</y>
                    </bends>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>599.566650390625</y>
                    </bends>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>204125dd-ae6f-37be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>204125dd-ae6f-37be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8c26cf78-3b69-3794-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>d0de6819-5dc2-371e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>684d470e-5a10-3394-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a5c1ca01-0156-398c-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>a277c738-1b42-3455-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>2ea2341d-de7f-34f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c81009a1-0042-3787-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>7045115e-41c0-3b71-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>4457eb63-470e-3812-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d3dafb90-3611-3922-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>965cf6d8-42cf-3a05-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>eb73fb0e-9140-3484-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d9711513-ac5f-390e-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>318.56666564941406</y>
                    </bends>
                    <bends>
                        <x>552.9000244140625</x>
                        <y>368.56666564941406</y>
                    </bends>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>a277c738-1b42-3455-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>a277c738-1b42-3455-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dc551029-e586-3a57-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>7548cbd1-4858-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>d0de6819-5dc2-371e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e6a0fa39-ba8e-3734-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>e8d175bf-2b63-3e2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>not.found</selectedRelationships>
                    <selectedRelationships>permission.denied</selectedRelationships>
                    <source>
                        <groupId>76b89f6c-3149-35d1-0000-000000000000</groupId>
                        <id>7045115e-41c0-3b71-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>3b5e4afd-32f7-3209-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>
<name>encoder-pool-size</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ImageLabeledAvroWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>avro-embedded</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{
   "type" : "record",
   "namespace" : "net.zylklab.avro.tensorflow",
   "name" : "Image",
   "fields" : [
      { "name" : "content" , "type" : "bytes" },
      { "name" : "text" , "type" : "string" },
      { "name" : "label" , "type" : "int" }
   ]
}</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>NONE</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>32</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>5366cce3-d5de-3919-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ImageAvroReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>embedded-avro-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{
   "type" : "record",
   "namespace" : "net.zylklab.avro.tensorflow",
   "name" : "Image",
   "fields" : [
      { "name" : "content" , "type" : "bytes" }
   ]
}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroReader</type>
                </controllerServices>
                <controllerServices>
                    <id>a372649b-3cfa-35ca-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-protobuffer-nar</artifact>
                        <group>net.zylklab.nifi</group>
                        <version>0.0.1-SNAPSHOT</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>TFRecordWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{
   "type" : "record",
   "namespace" : "net.zylklab.avro.tensorflow",
   "name" : "Image",
   "fields" : [
      { "name" : "content" , "type" : "bytes" },
      { "name" : "text" , "type" : "string" },
      { "name" : "label" , "type" : "int" }
   ]
}</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>net.zylklab.nifi.protobuffer.tfrecord.TFRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>deb247c1-beab-3f0d-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ImageLabeledAvroReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>embedded-avro-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{
   "type" : "record",
   "namespace" : "net.zylklab.avro.tensorflow",
   "name" : "Image",
   "fields" : [
      { "name" : "content" , "type" : "bytes" },
      { "name" : "text" , "type" : "string" },
      { "name" : "label" , "type" : "int" }
   ]
}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroReader</type>
                </controllerServices>
                <controllerServices>
                    <id>dfef1759-c70c-392f-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-protobuffer-nar</artifact>
                        <group>net.zylklab.nifi</group>
                        <version>0.0.1-SNAPSHOT</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Image bytearray buffer reader</key>
                            <value>
<name>Image bytearray buffer reader</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Content Field Name for Generic Image Schema</key>
                            <value>
<name>Content Field Name for Generic Image Schema</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ImageReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Image bytearray buffer reader</key>
                            <value>1024</value>
                        </entry>
                        <entry>
                            <key>Content Field Name for Generic Image Schema</key>
                            <value>content</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>net.zylklab.nifi.protobuffer.tfrecord.ImageReader</type>
                </controllerServices>
                <controllerServices>
                    <id>ebac5a7d-785e-3cd6-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>
<name>encoder-pool-size</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ImageAvroWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>avro-embedded</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{
   "type" : "record",
   "namespace" : "net.zylklab.avro.tensorflow",
   "name" : "Image",
   "fields" : [
      { "name" : "content" , "type" : "bytes" }
   ]
}</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>NONE</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>32</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                </controllerServices>
                <labels>
                    <id>3daf99b9-67d5-316a-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>473.9000244140625</x>
                        <y>-349.433349609375</y>
                    </position>
                    <height>85.0</height>
                    <label>daisy = 0
dandelion = 1 
roses = 2 
sunflowers = 3
tulips = 4</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>144.0</width>
                </labels>
                <labels>
                    <id>83f1e8b6-01bf-300c-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>492.9000244140625</x>
                        <y>-757.433349609375</y>
                    </position>
                    <height>24.0</height>
                    <label>download a dataset from https://storage.googleapis.com/download.tensorflow.org/example_images/flower_photos.tgz</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>644.0</width>
                </labels>
                <processors>
                    <id>204125dd-ae6f-37be-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>509.566650390625</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>replacement-value-strategy</key>
<value>
    <name>replacement-value-strategy</name>
</value>
                            </entry>
                            <entry>
<key>/label</key>
<value>
    <name>/label</name>
</value>
                            </entry>
                            <entry>
<key>/text</key>
<value>
    <name>/text</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>5366cce3-d5de-3919-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>3b5e4afd-32f7-3209-0000-000000000000</value>
                            </entry>
                            <entry>
<key>replacement-value-strategy</key>
<value>literal-value</value>
                            </entry>
                            <entry>
<key>/label</key>
<value>${label}</value>
                            </entry>
                            <entry>
<key>/text</key>
<value>${text}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                </processors>
                <processors>
                    <id>2ea2341d-de7f-34f0-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>51.06666564941406</y>
                    </position>
                    <bundle>
                        <artifact>nifi-media-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Max Number of Attributes</key>
<value>
    <name>Max Number of Attributes</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Max Number of Attributes</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractImageMetadata</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.image.ExtractImageMetadata</type>
                </processors>
                <processors>
                    <id>4457eb63-470e-3812-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>-370.433349609375</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>label</key>
<value>
    <name>label</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>label</key>
<value>${text:equals('daisy'):ifElse('0',${text:equals('dandelion'):ifElse('1',${text:equals('roses'):ifElse('2',${text:equals('sunflowers'):ifElse('3',${text:equals('tulips'):ifElse('4','default')})})})})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Enrich with label</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>59a4b652-3fac-3fcf-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>761.566650390625</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>
    <name>merge-strategy</name>
</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
<value>
    <name>correlation-attribute-name</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>
    <name>min-records</name>
</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>
    <name>max-records</name>
</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>
    <name>min-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
<value>
    <name>max-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>
    <name>max-bin-age</name>
</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>
    <name>max.bin.count</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>deb247c1-beab-3f0d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>3b5e4afd-32f7-3209-0000-000000000000</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>1</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
                            </entry>
                            <entry>
<key>max-bin-age</key>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>10</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeRecord</type>
                </processors>
                <processors>
                    <id>684d470e-5a10-3394-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>991.566650390625</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>deb247c1-beab-3f0d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>a372649b-3cfa-35ca-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>7045115e-41c0-3b71-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>-165.433349609375</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>${absolute.path}/${filename}</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Rename</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>7548cbd1-4858-3ec7-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>86.9000244140625</x>
                        <y>1421.566650390625</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/home/gus/flowers/nifi</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>965cf6d8-42cf-3a05-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>-582.433349609375</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>text</key>
<value>
    <name>text</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>text</key>
<value>${absolute.path:substring(0,${absolute.path:length():minus(1)}):substringAfterLast('/')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Enrich with text</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>a277c738-1b42-3455-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>278.56666564941406</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>dfef1759-c70c-392f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>ebac5a7d-785e-3cd6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertFromImageToAvro</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>d0de6819-5dc2-371e-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>90.08127111470276</x>
                        <y>1198.8194841276486</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename}.tfrecords</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>e8d175bf-2b63-3e2e-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>734.9000244140625</x>
                        <y>-161.433349609375</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>DEAD END</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>eb73fb0e-9140-3484-0000-000000000000</id>
                    <parentGroupId>76b89f6c-3149-35d1-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.9000244140625</x>
                        <y>-781.9333343505859</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Input Directory Location</key>
<value>
    <name>Input Directory Location</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Include File Attributes</key>
<value>
    <name>Include File Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>
    <name>target-system-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                            <entry>
<key>et-node-identifier</key>
<value>
    <name>et-node-identifier</name>
</value>
                            </entry>
                            <entry>
<key>track-performance</key>
<value>
    <name>track-performance</name>
</value>
                            </entry>
                            <entry>
<key>max-performance-metrics</key>
<value>
    <name>max-performance-metrics</name>
</value>
                            </entry>
                            <entry>
<key>max-operation-time</key>
<value>
    <name>max-operation-time</name>
</value>
                            </entry>
                            <entry>
<key>max-listing-time</key>
<value>
    <name>max-listing-time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/home/gus/.keras/datasets/flower_photos</value>
                            </entry>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Input Directory Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>^.*\.jpg$</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Include File Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                            <entry>
<key>et-node-identifier</key>
<value>${hostname()}</value>
                            </entry>
                            <entry>
<key>track-performance</key>
<value>false</value>
                            </entry>
                            <entry>
<key>max-performance-metrics</key>
<value>100000</value>
                            </entry>
                            <entry>
<key>max-operation-time</key>
<value>10 secs</value>
                            </entry>
                            <entry>
<key>max-listing-time</key>
<value>3 mins</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListFile</type>
                </processors>
            </contents>
            <name>Create TFRecord from Images</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>10/17/2019 20:40:39 CEST</timestamp>
</template>
